/* reset css */
:root{
    --text-color: aliceblue;
    --pink-color: #f481c2;
    --red-color: red;
    --black-color: black;
    /* var(--text-color); */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.anniversaryday_container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
.anniversaryCreate{
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}
.anniversaryCreate_form{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(65, 62, 64, 0.8);
}

#addAnniversary{
    color: var(--text-color);
    cursor: pointer;
}



.contunied{
    width: 90%;
    padding: 0 5px;
    margin: auto;
    text-align: center; 
    color: #c8c2c5; 
    font-size: 18px; 
    font-style: italic;
    display: flex;
    justify-content: space-between;
}

#layoutIcon{
    display: none;
}

#layoutIcon.active{
    color: #c38595;
}

.elementsDiv{
    width: 24%;
    margin: auto;
    position: relative;
    cursor: pointer;
}

.elementsDiv:hover{
    transform: translateY(-2px);
}

.calendar{
    width: 90%;
    margin: 10px auto;
    color: rgb(221, 212, 221);
}

.content_form{
    width: 100%;
    height: 300px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: rgba(239, 230, 236, 0.3);
    border-radius: 10px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.optionIcon{
    position: absolute;
    left: 5px;
    bottom: 0px;
    cursor: pointer;
    padding: 10px;
}

.option ul{
    background-color: rgb(58, 55, 55);
    min-width: 60px;
    border-radius: 5px;
    padding: 3px 8px;
    position: absolute;
    left: 35px;
    bottom: 15px;
    z-index: 1;
    display: none;
}

.option li{
    line-height: 20px;
    list-style: none;
    font-size: 13px;
    cursor: pointer;
    padding: 5px 15px;
}

.anniversaryCreate_form{
    height: auto;
    padding: 8px;
    background-color: rgba(65, 62, 64, 0.8);
}

.anniversaryday_img{
    height: 70%;
    display: flex;
    }

.anniversaryday_img img{
    width: 98%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid var(--pink-color);
    margin: auto;
}

.content_block{
    width: 100%;
    height: 20%;
    margin: auto 0;
    line-height: 20px;
    padding: 2px 15px;
    padding-top: 5px;
    text-align: center;
}

.content_block span{
    margin-left: 10px;
    font-size: 14px;
}

.calendar{
    color: rgb(221, 212, 221);
}

.modalImage_labelCalendar{
  margin-bottom: 20px;
  color: #b9b2a9;
}

.label_content{
    width: 80%;
    margin: auto;
    font-size: 14px;
}

.ti-heart.like{
    color: var(--text-color);
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    padding: 10px;
}

.like.liked{
    color: var(--pink-color);
    font-size: larger;
    filter: drop-shadow(3px 0px 1px rgba(243, 144, 144, 0.7));
}


.toast_form{
    position: fixed;
    top: 65px;
    width: 100%;
    z-index: 2;
  }
  
  .remove, .edit, .create{
    width: 70%;
    margin: auto;
    padding: 6px 0;
    padding-left: 5px;
    background-color: #c0c7bd;
    border-radius: 5px;
    margin-bottom: 10px;
    border-left: 3px solid #52544f;
    border-right: 3px solid #52544f;
    font-size: 14px;
    animation: toDown 1s ease-in-out forwards;
    position: relative;
    text-align: center;
  }
  
  .process{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 0;
    animation: toright 3s ease-in-out forwards;
  }
  
  @keyframes toright {
    0%{
      width: 100%;
    }
    100%{
      width: 0;
    }
  }
  
  @keyframes toDown {
    0%{
      transform: translateY(-100%);
    }
    25%{
      transform: translateY(3px);
    }
    50%{
      transform: translateY(-3px);
    }
    100%{
      transform: translateY(0%);
    }
  }
  
  @keyframes toast_hide {
    0%{
      transform: translateY(0%);
    }
    25%{
      transform: translateY(3px);
    }
    100%{
      transform: translateY(-1000%);
    }
  }

  .toast_form label{
    margin-left: 15px;
  }


