/* reset css */
:root{
    --text-color: aliceblue;
    --pink-color: #f481c2;
    --red-color: red;
    --black-color: black;
    /* var(--text-color); */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.anniversaryday_container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
.anniversaryCreate{
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}
.anniversaryCreate_form{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(65, 62, 64, 0.8);
}

#addAnniversary{
    color: var(--text-color);
    cursor: pointer;
}



.contunied{
    width: 90%;
    padding: 0 5px;
    margin: auto;
    text-align: center; 
    color: #c8c2c5; 
    font-size: 18px; 
    font-style: italic;
    display: flex;
    justify-content: space-between;
}

#layoutIcon{
    display: none;
}

#layoutIcon.active{
    color: #c38595;
}

.elementsDiv{
    width: 24%;
    margin: auto;
    position: relative;
    cursor: pointer;
}
.elementsDiv:hover{
    transform: translateY(-2px);
}

.anniversaryday_form{
    width: 100%;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px;
    background-color: rgba(239, 230, 236, 0.3);
    border-radius: 10px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: relative; */
    }

.anniversaryCreate_form{
    height: auto;
    padding: 8px;
    background-color: rgba(65, 62, 64, 0.8);
}

.anniversaryday_img{
    height: 70%;
    display: flex;
    }

.anniversaryday_img img{
    width: 98%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid var(--pink-color);
    margin: auto;
}

.label_content{
    width: 90%;
    height: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

.ti-heart.like{
    color: var(--text-color);
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}

.like.clicked{
    color: var(--pink-color);
    font-size: larger;
    filter: drop-shadow(3px 0px 1px rgba(243, 144, 144, 0.7));
}

.link_section{
    text-decoration: none;
    color: var(--text-color);
    font-size: 30px;
    display: block;
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
}


