/* reset css */
:root{
    --text-color: aliceblue;
    --pink-color: #f481c2;
    --red-color: red;
    --black-color: black;
    /* var(--text-color); */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

.container{
    margin-top: 60px;
    position: relative;
    padding-bottom: 20px;
    height: 100vh;
    overflow: auto;
    background-image:-webkit-linear-gradient(180deg, rgba(28, 28, 26, 0.5), rgba(19, 19, 19, 0.5)),
    url(../img/bgr_home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

/* Menubar */

.header{
    width: 100%;
    background-color: var(--black-color);
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--pink-color);
}

.logo_menu{
    width: 80%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--black-color);
    display: flex;
}

.logo{
    width: 20%;
}

.logo img{
    width: 80px;
    height: 50px;
    margin-top: 5px;
}

.menu{
    width: 80%;
    display: flex;
    justify-content: right;
}

.listmenu{
    align-items: center;
    display: flex;
}

.displayIcon{
    display: none;
}

.hideIcon{
    display: none;
}

.menubtn.closeBtn .hideIcon{
    font-weight: bold;
    display: block;
}

.menubtn.closeBtn .displayIcon{
    display: none;
}


.listmenu_item{
    font-size: 20px;
    padding: 0 20px;
    list-style: none;
    justify-self: end;
}

.listmenu_item:hover > a{
    color: var(--pink-color);
}

.listmenu2_item2:hover > a{
    color: var(--pink-color);
}



.listmenu_item:last-child{
    padding-right: 25px;
    white-space: nowrap;
}

.listmenu_item a{
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    padding: 0 10px;
}

.listmenu_mobile{
    display: none;
}

.listmenu2{
    position: absolute;
    right: 135px;
    top: 61px;
    background-color: var(--black-color);
    padding: 10px 0;
    box-shadow: 0 0 10px #8d8383;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
    z-index: 1;
    animation: translateY 0.2s ease-in;
    transition: all 0.5s linear;
    max-width: 100%;
}

.listmenu2_item2{
    list-style: none;
    text-decoration: none;
    line-height: 30px;
    font-size: 16px;
    padding: 0 10px;
}


.listmenu2_item2 a{
    border-right: 0.2px dashed #454242;
}

.checkChangeColor-block{
    width: max-content;
    margin-left: 20px;
    display: flex;
    color: #927aa8;
    align-items: center;
    justify-content: space-between;

}

#checkChangeColor, #checkChangeColor_mobile{
    display: none;
}

.btnlabel{
    /* display: block; */
    width: 30px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #c6c1c1;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}

.btnlabel::after{
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 1.4px;
    left: 2px;
    background-color: #d4c9c9;
    transition: left 0.3s ease;
}

.checkChangeColor-block input:checked + .btnlabel::after{
    left: 11px;
    background-color: #976cbc;
    }
.checkChangeColor-block:has(input:checked) .btnlabel{ 
    border: 1px solid #976cbc;
    } 

.ti-arrow-circle-down{
    font-size: 12px;
    color: var(--text-color);
}

.loginbtn{
    color: var(--text-color);
    line-height: 60px;
    cursor: pointer;
    font-size: 20px;
}

/* SloganBlock */

.slogan{
    padding-top: 20px;
    color:var(--text-color);
    text-align: center;
    font-style: italic;
    line-height: 20px;
}
.slogan_slg{
    color: #f5bcf6; 
    font-size: 25px;
}

.slogan_content{
    width: 90%;
    margin: auto;
    background-color: rgba(239, 230, 236, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.slogan_love{
    text-align: center;
}

/* ModalCreate */
#modalCreate{
    animation: scale 0.5s ease;
}

#createForm{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 5% auto 0;
    justify-items: start;
    position: relative;
}

.labelImg, .labelContent, .labelDate{
    text-align: left;
    text-decoration: underline;
}
.labelImg, .labelContent, .labelDate, #inputContent, #inputImg, #inputDate, #btnCreate, #btnUpdate{
    color: var(--text-color);
    margin-top: 10px;
}

.labelContent{
    margin-top: 30px;
}

#inputContent{
    color: var(--text-color);
    max-width: 100%;
    min-height: 100px;
    max-height: 150px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(239, 230, 236, 0.5);
    outline: none;
}

#inputDate{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(239, 230, 236, 0.5);
    outline: none;
    border: none;
}

#btnCreate, #btnUpdate{
    cursor: pointer;
    padding: 5px;
    margin: 30px auto 0;
    border: 1px solid rgba(255, 255, 255, 0.8);
    width: 70px;
    border-radius: 10px;
}

#btnCreate:hover, #btnUpdate:hover{
    background-color: #c38595;
}

#btnCreate:active{
    transform: translateY(1px);
}

.controlCreate {
    color: var(--text-color);
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
}

/* CSS MODAL IMAGE */

#modalImage, .modalCreate{
    z-index: 900;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.modalImage_overlay, .modalCreate_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.modalImage_body, .modalCreate_body{
    margin-top: 60px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 9);
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(238, 231, 231, 0.5);
    animation: zoomin ease-in 0.3s;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.selectedDiv{
    width: 79%;
    height: 90%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-right: 3px;
    position: relative;
}

#selected-image{
    width: auto;
    max-width: 100%;
    max-height: 95%;
    object-fit: fill;
    border-radius: 1px;
    margin: auto;
    animation: scale 0.3s linear;
}

.prevImg{
    font-size: 50px;
    color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 10%;
    cursor: pointer;
    padding: 10px;
}

.nextImg{
    font-size: 50px;
    color: var(--text-color);
    position: absolute;
    top: 50%;
    right: 10%;
    padding: 15px;
    cursor: pointer;
}

.labelContentDiv{
    width: 20%;
    height: 90%;
    color: var(--text-color);
    background-color: rgba(50, 47, 47, 0.5);
    border-radius: 5px;
    padding: 10px;
    display: grid;
    place-content: center;
}





/* Animation */

@keyframes translateY {
    from{
        /* transform: translateY(-15%); */
        scale: 80%;
        opacity: 0;
    }
    to{
        /* transform: translateY(0); */
        scale: 100%;
        opacity: 1;
    }
    
}

@keyframes menu {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    } 
}


@keyframes scale {
    from{
        transform: scale(0.8);
        opacity: 0.5;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}