* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --text-color: aliceblue;
    --pink-color: #f481c2;
    --red-color: red;
    --black-color: black;
    /* var(--text-color); */
}
/* CSS Login */

#modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.modal_body{
    width: 700px;
    /* border: 1px solid var(--text-color); */
    border-radius: 5px;
    padding: 50px 20px;
    box-shadow: 0 0 5px rgba(238, 231, 231, 1);
    animation: zoomin ease-in 0.3s;
    text-align: center;
    position: relative;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.modal_body::before{
    content: '';
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    backdrop-filter: blur(10px);

}

.slgLogin{
    color: var(--text-color);
    text-align: center;
    padding: 0 30px 0 5px;
}

.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.login_form{
    border-radius: 5px;
    padding: 5px;
    animation: zoomin ease-out 0.5s;

}

.ti-close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: var(--text-color);
}

.imglogin{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--pink-color);
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.login_content{
    display: flex;
    flex-direction: column;
    animation: zoomin ease-out 0.5s;
}

.input{
    padding: 15px;
    outline: none;
    margin: 10px 0;
    min-width: 250px;
    height: 30px;
    border-radius: 30px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background: rgba(248, 229, 229, 0.8);
    color: #fff
}

.checkbox{
    display: flex;
    justify-content: space-around;
}

.pass{
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: var(--text-color);
}

.labelShowPass, .labelrememberMe{
    margin-left: 5px;
}

.button{
    outline: none;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    background-color: var(--text-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 30%;
    border-radius: 30px;
    margin: auto;
    margin-top: 45px;
}

.button:hover{
    background-color: var(--pink-color);
}

.ti-arrow-right{
    font-size: 25px;
}

/* Animation */
@keyframes zoomin {
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
}

@keyframes zoomout {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.5);
    }
}

@keyframes rolate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes scale {
    from{
        transform: scale(0.7);
    }
    to{
        transform: rotate(1);
    }
}
