/* reset css */

:root{
    --text-color: aliceblue;
    --pink-color: #f481c2;
    --red-color: red;
    --black-color: black;
    /* var(--text-color); */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS BODY */

.moneyNotes, .birthdayNotes, .otherNotes{
    margin: auto;
    width: 90%;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    margin: 30px auto;
    margin-bottom: 10px;
    position: relative;
}


.notes_form{
    width: 80%;
    margin: 10px auto;
    padding: 5px;
    background-color: rgba(239, 230, 236, 0.3);
    border-radius: 10px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    }

.ti-money , .ti-tag, .ti-gift{
    margin-left: 20px;
    font-size: 15px;
    width: 5%;
}

.notes_content{
    width: 80%;
    margin: auto;
}

.checkbox{
    width: 5%;
    margin-right: 20px;
}

.notes h3{
    color: #f481c2;
    background-color: #616569;
    max-width: 60%;
    margin: auto;
    line-height: 35px;
    border-radius: 20%;
    position: relative;
    left: 0px;
    top: -17px;
}